/* Style the header */
#header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}



#content {
  float: left;
  padding: 20px;
  width: 82%;
  background-color: #f1f1f1;
  height: 70vh;
}

/* Style the footer */
#footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
