<div class="row">
  <div class="col-lg-12 col-sm-12">
    <div class="button-breadcrumb">
      <nav class="page-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <div class="buttongroup">
        <button type="button" class="btn btn-outline-primary">
          <i class="ti-plus mr-1"></i>ADD</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12">
    <div class="card">
      <div class="card-header card-search">
        <div class="">
          <h6 class="card-title mb-0">Table List</h6>
          <span>( Total: 10 )</span>
        </div>
        <div class="search-total">
          <input id="searchText" type="text" placeholder="Search" class="form-control">
        </div>
      </div>
      <div class="card-body p-3">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th class="table-action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="table-action">
                  <a href="#" class="action-icon text-primary"><i class="ti-pencil-alt"></i> </a>
                  <a href="#" class="action-icon text-danger"><i class="ti-trash"></i></a>
                </td>
              </tr>
              <tr>
                <th>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="table-action"></td>
              </tr>
              <tr>
                <th>3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td class="table-action"></td>
              </tr>
              <tr>
                <th>4</th>
                <td>Larry</td>
                <td>Jellybean</td>
                <td>@lajelly</td>
                <td class="table-action"></td>
              </tr>
              <tr>
                <th>5</th>
                <td>Larry</td>
                <td>Kikat</td>
                <td>@lakitkat</td>
                <td class="table-action"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">test</div>
    </div>
  </div>
</div>